p.trigger{
    margin-bottom:7px;
    margin-top:-5px;
	margin-left: 20px;
	font-size:15px;
	font-family: Verdana, Geneva, sans-serif;
	color: #595959;
	
}

.toggle_container{
    margin-bottom:10px;
	margin-left: 30px;
}

.toggle_container p{
    margin:0px;
}

.toggle_container{
    background:#f0f0f0;
    clear: both;
    font-size:100%;
}